* {
    color: rgb(131, 112, 60);
    font-family:'Times New Roman', Times, serif;
    background-color: rgb(248, 193, 125);
    margin: 0;
}

a:hover {
    color: red;
}

#homepage-header {
    text-align: center;
    font-size: 2vw;
    border-bottom: 2px solid rgb(131, 112, 60);
}

#homepage-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

#homepage-main img {
    height: auto;
    width: 40%;
}

.recipe-list {
    border: 2px solid rgb(131, 112, 60);
    border-radius: 15px;
}

.recipe-list li {
    margin: 10px;
    list-style-type: circle;
}


/*--------------------------------------------*/

.recipe-content {
    display: flex;
    justify-content: center;
}

.recipe-image {
    border: 2px solid rgb(131, 112, 60);
    border-radius: 15px;
    width: 30%;
    margin-right: 50px;
}

.recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid rgb(131, 112, 60);
    border-radius: 15px;
    padding: 10px 20px;
    overflow-wrap: normal;
    max-width: 30%;
}

.recipe-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}

.recipe-header h1 {
    font-size: 3vw;
}


.recipe-header img {
    height: auto;
    width: 10vw;
}

